---
import Card from "./Card.astro";
---

<Card>
  <h3>Choosing Between Controllers and Minimal API for .NET APIs</h3>
  <p>.NET now offers several methods for creating APIs. Let's cover the pros & cons of building with Controllers, Minimal API, and more.</p>
</Card>

<style>
	h3 {
		background: unset;
		animation: unset;
		--bg-size: 400%;
		animation: unset;
		-webkit-background-clip: unset;
		-webkit-text-fill-color: unset;
		color: oklch(100% 0 0);
		font-weight: bold;
		font-size: 1.2rem;
		line-height: 1.4rem;
		padding: 0.2rem;
	}

	p {
		font-size: 0.8rem;
		line-height: 0.9rem;
		padding: 0.2rem;
	}
</style>
