.container{
  width: 50vw;
  background-color: rgb(88, 87, 85);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item{
  margin: 50px;
  width: 250px;
  height: 250px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  line-height: 250px;
  text-align: center;
}

.caja-1 {
  background-color:aqua;
}

.caja-2 {
  background-color:azure;
}
.caja-3 {
  background-color:black;
  color: white;
}
.caja-4 {
  background-color:burlywood;
}
.caja-5 {
  background-color: cadetblue;
}