.contenedor-audio {
    background: url("./build/img/paisaje-magenta-naturaleza-fantasia.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    margin: 0;
}

.contenedor-audio audio {
    display: none;
}

.contenedor-audio a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: rgba(238, 238, 238, 0.6);
    font-size: 20px;
}

.contenedor-audio a:hover {
    color: rgba(238, 238, 238, 1);
}

.contenedor-audio button {
    font-size: 16px;
    color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    padding: 15px;
    border: none;
    border-radius: 2px;
    outline: none;
    background: #ae4f6d;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-audio button:hover {
    background-color: #d34c77;
}

.contenedor-audio button.fade:hover {
    opacity: 0.8;
}

.contenedor-audio .fade {
    opacity: 0.2;
    top: 0;
    left: 0;
    transform: translate(0, 0);
}

.hidde {
    display: none;
}

/* cards */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Martian Mono", monospace;
    overflow: hidden;
  }
  
  /* Otros estilos */
  
  .Container {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .Picture-video {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    user-select: none;
  }
  
  .Picture-note-video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    padding: 12px 24px;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .Picture {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid #fff;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%);
    user-select: none;
    cursor: pointer;
  }
  
  .Picture-img {
    display: block;
    width: 400px;
    height: 400px;
    pointer-events: none;
    object-fit: cover;
  }
  
  .Picture-note {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 70px;
    padding: 12px 24px;
    font-size: 1.5rem;
    text-align: center;
  }
  